.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5rem);
    width: 100vw;
    padding: 4rem;
    background-image: url('../../assets/fondoClinica5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardProfile {
    background-color: rgb(90, 217, 210);
    height: 16em;
    width: 30em;
    border: solid 0.15em black;
}

.cardGeneralProfile {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    
}

.fotoProfile {
    border: solid 0.15em black;
    border-radius: 25%;
    background-color: rgb(255, 255, 255);
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoProfileGeneral{
    display: flex;
    justify-content: center;
}

.titleCard {
    display: flex;
    justify-content: center;
}

.textoProfile {
    display: flex;
    justify-content: space-between;
}

.cargandoUsuario {
    display: flex;
    justify-content: center;
    margin-top: 17em;
}

.botonModificarProfile {
    color: rgb(0, 0, 0);
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12em;
}