.appointmentsUser{
        border: solid 0.3em white;
        background-color: lightseagreen;
        margin: 1em;
        border-radius: 1em 0em 1em 0em;
        padding: 0.5em;
        color: white;
        width: 20em;
}

.botonUpdate {
    background-color: yellow;
    color: black;
    transition: 1s;
}

.botonUpdate:hover {
    background-color: orange;
}

.dateSearch{
    display: flex;
    flex-direction: column;
}

.inputDate{
    display: flex;
    justify-content: center;
}

.misCitas{
    display: flex;
    justify-content: center;
}
.filtroBusqueda{
    display: flex;
    justify-content: center;
}