.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5rem);
    width: 100vw;
    padding: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardProfile {
    background-color: rgb(90, 217, 210);
    height: 25em;
    width: 20em;
    border: solid 0.15em white;
    margin-top: -15em;
}

.cardGeneralProfile {
    display: flex;
    justify-content: center;
}

.fotoProfile {
    background-image: url(../../assets/fotoPerfil.jpg);
    background-size: cover;
    border: solid 0.15em black;
    border-radius: 25%;
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fotoProfileGeneral{
    display: flex;
    justify-content: center;
}

.titleCard {
    display: flex;
    justify-content: center;
    color: white;
}

.textoProfile {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
}

.cargandoUsuario {
    display: flex;
    justify-content: center;
    margin-top: 17em;
}

.botonModificarProfile {
    background-color: rgb(230, 112, 69);
    color: white;
    border: none;
    transition: transform 0.5s;
    margin-left: 7em;
}
.botonModificarProfile:hover {
    transform: scale(1.1);
    background-color: rgb(253, 154, 118);
    color: white;
    border: solid 0.1em black;
}

.general {
    background-image: url(../../assets/fondo2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}