.navbar {
    margin: 0;
    padding: 0;
}

.logo {
    height: 5.5em;
    margin-right: 0.5em; 
    border-radius: 50%;
    margin: 1em;
    transition: 1s;
}

.logo:hover{
    transform: scale(1.2);
}

.linksNavbar {
    display: flex;
    justify-content: flex-end;
    margin:1em;
}

.textoLogo {
    margin-left: 0.8em;
    color: white;
    transition: 1s;
}

.textoLogo:hover{
    transform: scale(1.2);
    color: orange;
}

.container-fluid {
    max-width: 100%;
    background-color: lightseagreen;
    background-size: cover;
}

.inicio, .registro, .iniciarSesion,  .menu {
    margin: 1em;
    color: white;
}

.iniciarCerrar {
    margin: 1em;
    color: white;
    transition: 1s;
}

.inicio:hover {
    color: rgb(14, 114, 133);
    transition: 1s;
}

.registro:hover {
    transition: 1s;
    color: rgb(14, 114, 133);
}

.iniciarSesion:hover {
    transition: 1s;
    color: rgb(14, 114, 133);
}

.iniciarCerrar:hover {
    transition: 1s;
    color: rgb(14, 114, 133);
}

.cardsGeneral3 {
    display: flex;
    margin: 4em;
    border: solid 0.4em black;
}

