.CustomNavbar {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-link {
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
    padding: 0.2rem 1rem;
    border-radius: 0.6rem;
}

.navbar-link:hover {
    background-color: grey;
}

.logo {
    height: 4em;
    margin-right: 0.5em; 
    border-radius: 50%;
}
