.generalHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5rem);
    width: 100%;
    background-image: url('../../assets/fondo23.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.encabezado {
    font-size: 2rem;
    color: rgb(159, 64, 158);
    margin: 2rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagenPrincipal {
    width: 70vw;
    height: auto;
    border-radius: 0.5em;
    margin: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5em;
    margin: 5em;
    box-shadow: inset;
}

.card-container{
    margin: 0 7em 7em 0;
    max-width:15em;
}


@media screen and (max-width: 800px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .card-container > div {
        margin-right: 0;
    }
}


.infoHome {
    margin-top: 20px;
    width: auto;
}

.info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.citasOnline {
    color: black;
    transition: 1s;
}

.citasOnline:hover{
    color: lightseagreen;
}

.info-image {
    margin-bottom: 2em;
    margin-top: 5em;
}

.info-text {
    margin-bottom: 4em;
    transition: font-size 0.3s ease;
}

.info-text:hover {
    font-size: 20px;
}

.general2 {
    background-image: url(../../assets/fondo29.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.textoTratamientos {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(159, 64, 158);
    background-color: rgba(240, 248, 255, 0.896);
    width: 100%;
    height: 3em;
}

    .infoTratamientos {
        margin:5em;
        color: white;
    }
    
    .info-columnTratamientos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 24em;
        width: 24em;
        margin: 1em;
        color: black;
    }
    
    .info-imageTratamientos {
        width: 8em;
        height: auto;
        margin-bottom: 50px;
        border-radius: 20%;
        transition: transform 0.7s;
    }

    .info-imageTratamientos:hover{
        transform: scale(1.2);
    }
    
    .info-textTratamientos {
        color: black;
    }


    .protesis, .ortodoncia, .implante, .estetica, .pediatria, .periodoncia, .endodoncia, .cirugia {
        color: black;
        transition: 1s;
    }

    .protesis:hover {
        color: lightseagreen;
    }
    .ortodoncia:hover {
        color: lightseagreen;
    }
    .implante:hover {
        color: lightseagreen;
    }
    .estetica:hover {
        color: lightseagreen;
    }
    .pediatria:hover {
        color: lightseagreen;
    }
    .periodoncia:hover {
        color: lightseagreen;
    }
    .endodoncia:hover {
        color: lightseagreen;
    }
    .cirugia:hover {
        color: lightseagreen;
    }

    .fadeIn {
        opacity: 0;
        transition: opacity 2.4s ease-in-out;
    }
    .fadeIn.active {
        opacity: 1;
    }

    .textoOpiniones {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(159, 64, 158);
    background-color: rgba(240, 248, 255, 0.896);
    width: 200vh;
    height: 3em;
    }

    .infoGeneral3 {
        margin-top: 5em;
        width: auto;
    }

    .info-column3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-image3 {
        width: 80%;
        max-width: auto;
        height: auto;
        margin-bottom: 2em;
        border: solid 0.2em white;
        border-radius: 1%;
        transition: transform 0.3s;
    }
    
    .info-image3:hover{
        transform: scale(1.05);
    }



